# Python Basics NoteBook

In [4]:
#Write a Python code to return your Python version

import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]
Version info.
sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial=0)

In [3]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]

custId =513
custId
print("customer id =" , custId)

customer id = 513

In [6]:
#Run the following statement, why there is an error

id=id+1

#This line gives error because the id is built in function in python. We cannot use id.

TypeError: unsupported operand type(s) for +: 'builtin_function_or_method' and 'int'

In [7]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id

custId = custId + 1
new_id = custId
new_id

514

In [24]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.

print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky.")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.

In [2]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"

course[0]

'P'

In [13]:
# Print the element on the 13th index in the string

course[13]

'a'

In [14]:
# Find the length of string

len(course)

23

In [15]:
# Print the last element in the string [use negative index]

course[-1]

'e'

In [3]:
# Take the slice on variable course with only index 11 to index 14

course[11:15]

'Data'

In [22]:
# Get every third element in the range from index 0 to index 20

course[0:20:3]

'Ph ra i'

In [18]:
# Concatenate course string with ", AI & Development"

course = course + ", AI & Development"
print(course)

Python for Data Science, AI & Development

In [20]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"

courseNew = course.replace(" ","_")
print(courseNew)

Python_for_Data_Science,_AI_&_Development

In [21]:
# Convert all the characters in string to upper case

courseUpper = course.upper()
print(courseUpper)

PYTHON FOR DATA SCIENCE, AI & DEVELOPMENT